### 614. Second Degree Follower(Median)

Table: Follow
```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| followee    | varchar |
| follower    | varchar |
+-------------+---------+
```
(followee, follower) is the primary key column for this table.
Each row of this table indicates that the user follower follows the user followee on a social network.
There will not be a user following themself.
 

A second-degree follower is a user who:

follows at least one user, and
is followed by at least one user.
Write an SQL query to report the second-degree users and the number of their followers.

Return the result table ordered by follower in alphabetical order.

The query result format is in the following example.

 

Example 1:

Input: 
Follow table:
```
+----------+----------+
| followee | follower |
+----------+----------+
| Alice    | Bob      |
| Bob      | Cena     |
| Bob      | Donald   |
| Donald   | Edward   |
+----------+----------+
```
Output: 
```
+----------+-----+
| follower | num |
+----------+-----+
| Bob      | 2   |
| Donald   | 1   |
+----------+-----+
```
Explanation: 
User Bob has 2 followers. Bob is a second-degree follower because he follows Alice, so we include him in the result table.
User Donald has 1 follower. Donald is a second-degree follower because he follows Bob, so we include him in the result table.
User Alice has 1 follower. Alice is not a second-degree follower because she does not follow anyone, so we don not include her in the result table.

来源：力扣（LeetCode）
链接：https://leetcode-cn.com/problems/second-degree-follower
著作权归领扣网络所有。商业转载请联系官方授权，非商业转载请注明出处。

**Solution**

```
    select
        followee as follower, count(1) as num
    from
        Follow 
    where
        followee in (select follower from Follow)
    group by followee
    order by followee
```

### 615. Average Salary: Departments VS Company(Hard)

Table: Salary
```
+-------------+------+
| Column Name | Type |
+-------------+------+
| id          | int  |
| employee_id | int  |
| amount      | int  |
| pay_date    | date |
+-------------+------+
```
id is the primary key column for this table.
Each row of this table indicates the salary of an employee in one month.
employee_id is a foreign key from the Employee table.
 

Table: Employee
```
+---------------+------+
| Column Name   | Type |
+---------------+------+
| employee_id   | int  |
| department_id | int  |
+---------------+------+
```
employee_id is the primary key column for this table.
Each row of this table indicates the department of an employee.
 

Write an SQL query to report the comparison result (higher/lower/same) of the average salary of employees in a department to the company's average salary.

Return the result table in any order.

The query result format is in the following example.

**Solution**

```
    select 
        SUBSTR(pay_date, 1, 7) as pay_month
        , department_id
        , case when avg_sum_depy>avg_sum then 'higher' 
            when avg_sum_depy=avg_sum then 'same'
            else 'lower' end as comparison
    from
    (
        select 
            a.pay_date
            , b.department_id
            , avg(a.amount) over (partition by a.pay_date) as avg_sum
            , avg(a.amount) over (partition by a.pay_date, b.department_id) as avg_sum_depy
        from 
            Salary a
        join
            Employee b
        on 
            a.employee_id = b.employee_id
    ) f
    group by pay_month, department_id, comparison
    order by pay_month DESC
```